#vizcontainer {
    overflow-y: scroll;
    padding: 2px;
}

svg {
    overflow: visible;
    /*unicode-bidi: embed;*/
    font-family: sans-serif;
}

.node {
    cursor: pointer;
}

.node rect {
    fill: transparent;
    stroke: #000;
    stroke-width: 4px;
}

.node.disabled rect {
    stroke: #999;
}

.node text {
    stroke: none;
    fill: #000;
}
.node.disabled text {
    fill: #999;
}

.node text.tropchar {
    font-size: 70px;
    font-family: "Times New Roman";
}

.node text.count {
    /*font-fa*/
}

.link {
    stroke-width: 2px;
    stroke: #333;
    fill: none;
}

.link.disabled {
    stroke: #eee;
}





#graphcontainer {
    margin: 2px;
    background-color: #f5f5f5;
}

#graphcontainer .bar {
    fill: #555;
    stroke: none;
}
#graphcontainer .bar:hover {
    fill: #999;
}

#graphcontainer .tick line {
    stroke: #000;
}

#graphcontainer .tick text {
    font-size: 13px;
}

#graphcontainer .domain {
    fill: none;
    stroke: #000;
}