/*body {
    margin-top: 0;
}*/

#vizcontainer {
    overflow-y: scroll;
    padding: 2px;
    margin-right: 5px;
}

svg {
    overflow: visible;
    margin-top: 8px;
    /*unicode-bidi: embed;*/
    font-family: sans-serif;
}

.node {
    cursor: pointer;
}

.node rect.outerbox {
    fill: #fff;
    stroke: #727272;
    stroke-width: 1px;
}

.node.disabled rect.outerbox {
    /*stroke: #999;*/
}

.node rect.histbar {
    fill: #a5a5a5;
}
.node.disabled rect.histbar {
    fill: #ccc;
}

.node text {
    stroke: none;
    fill: #000;
}
.node:hover text, .node.disabled:hover text {
    stroke: none;
    fill: #3167F4;
}
.node.disabled text {
    fill: #777;
}

.node text.tropchar {
    font-size: 0px;
    font-family: "Times New Roman";
}

.node text {
    font-size: 12px;
    direction: ltr;
}

.node text.name {
    font-family: "Times New Roman";
    font-size: 24px;
    direction: rtl;
}

.link {
    stroke-width: 2px;
    stroke: #333;
    fill: none;
}

.link.disabled {
    stroke: #eee;
}





#graphcontainer {
    margin: 2px;
    background-color: #f5f5f5;
}

#graphcontainer .bar {
    fill: #555;
    stroke: none;
}
#graphcontainer .bar:hover {
    fill: #999;
    cursor: pointer;
}

#graphcontainer .tick line {
    stroke: #000;
}

#graphcontainer .tick text {
    font-size: 13px;
}

#graphcontainer .domain {
    fill: none;
    stroke: #000;
}

#graphcontainer rect.mytooltip {
    fill: rgba(40,40,40,0.75);
}

#graphcontainer .mytooltip text {
    fill: #fff;
    font-size: 13px;
}

#graphcontainer .mytooltip text.location {
    font-weight: bold;
}

.graphcontrolbox {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.graphcontrolhiddenbox {
    fill: none;
    stroke: #888;
    stroke-width: 2px;
}


/*#detailcontainer {
    text-align: center;
    position: absolute;
    top: 10%;
    width: 98%;
    height: 60%;
}*/

#detailoutercontainer {
    width: 60%;
    height: 60%;
    padding: 15px;

    background-color: rgb(255,255,255);
    border: 1px solid black;
    border-radius: 30px;
}

/*#detailsclose {
    cursor: pointer;
    float: left;
}*/

#details {
    /*width: 100%;
    height: 100%;
    overflow-y: scroll;*/

    font-family: "Times New Roman";
    font-size: 24px;
    /*margin: auto;*/
}

#detailsModal .modal-title {
    /*direction: ltr;*/
    font-size: 22px;
    margin-right: 18px;
}

#details .pasuknum {
    font-size: 16px;
    /*font-weight: bold;*/
    padding-left: 12px;
    padding-top: 8px;
    text-align: left;
}

#details tr {
    vertical-align: top;
}

#detailsModal #currentSearch {
    font-family: "Times New Roman";
    font-size: 20px;
    margin-right: 18px;
}


#prefs {
    direction: ltr;
    /*background-color: #fff;
    border: 1px solid #000;
    padding: 20px;*/
}

#cog {
    position: fixed;
    direction: ltr;
    left: 25px;
    color: #a5a5a5;
}

#cog:hover {
    color: #555;
}

#explanation {
    text-align: center;
}

#explanation img {
    width: 400px;
}

.trop {
    font-family: "Times New Roman";
}

a.license:hover {
    text-decoration: none;
}
